body{
    margin: 0;
}

canvas{
  width: 90%;
  background-color: #c4b195;
}

.message-box {
    background-color: rgba(0, 0, 0, 0.7);
    border: 2px solid #fff;
    color: #fff;
    width: 800px;
    height: 200px;
    padding: 10px;
    opacity: 1;
    position: absolute;
    bottom: 20%; 
    left: 450px;
    transition: all 0.5s ease;
  }

.message-text{
  font-size: 30px;
}

.character1-entry {
    width: 300px;
    height: 400px;
    background-color: blue;
    position: absolute;
    top: 44%;
    left: 5%;
    transition: all 3s ease;

}
.character2-entry {
    width: 300px;
    height: 400px;
    background-color: blue;
    position: absolute;
    top: 44%;
    left: 68%;
    transition: all 5s ease;
}
  
@keyframes character1Entry {
    0% {
      transform: translateX(-100%); /* Inizia fuori dal lato sinistro */
      opacity: 0;
    }
    100% {
      transform: translateX(0); /* Termina dentro il canvas */
      opacity: 1;
    }
  }
  
  @keyframes character2Entry {
    0% {
      transform: translateX(100%); /* Inizia fuori dal lato destro */
      opacity: 0;
    }
    100% {
      transform: translateX(0); /* Termina dentro il canvas */
      opacity: 1;
    }
  }

  .invisible{
    display: none;
  }